<!DOCTYPE html>
<html>
<head>
    <title>Passenger's Side</title>
    <meta name="viewport" content="initial-scale = 1.0, user-scalable = no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="/public/js/jquery-2.2.0.min.js"></script>
    <script src="//cdn.pubnub.com/pubnub.min.js"></script>
    <script>
        var step = 1;

        if (window.PUBNUB) {
            var pubnub = window.PUBNUB.init({
                subscribe_key : 'sub-c-958807dc-c63c-11e5-b684-02ee2ddab7fe'
            });
        }

        var go = function(event) {
            if (step == 2) {
                window.PUBNUB.publish({
                    channel: 'LyftLoot',
                    message: {"game":"start"}
                });
            } else {
                window.PUBNUB.publish({
                    channel: 'LyftLoot',
                    message: {"driver":"arrived"}
                });
                step++;
                $('body').attr('class', 'step' + step);
            }
        };

        document.onclick = go;
        //document.ontouchend = go;

        function preload() {
            var img = new Image();
            for (i = 0; i < preload.arguments.length; i++) {
                img.src = preload.arguments[i];
            }
        }
        preload(
            "/public/img/driver1.png",
            "/public/img/driver2.png"
        );
    </script>

    <style>
        body {
            background-size: 100%;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
        .step1 {
            background-image: url(/public/img/driver1.png);
        }
        .step2 {
            background-image: url(/public/img/driver2.png);
        }
    </style>
</head>
<body class="step1">
</body>
</html>